.chatContainer {
  width: 250px;
  border: 1px solid black;
}

.chatContainer .messagesWindow {
  height: 250px;
}

.chatContainer .messagesContainer {
  height: 100%;
  overflow-y: scroll;
}

.chatContainer form {
  padding: 10px;
}
